<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 为实体类起别名 -->
	<typeAliases>
		<typeAlias type="cn.cj.design.yufei.beans.LoadBean" alias="LoadBean"/>
	</typeAliases>
	<environments default="design">
		<environment id="design">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver"
					value="${jdbc.driverClassName}" />
				<property name="url"
					value="${jdbc.InternalOAurl}" />
				<property name="username" value="${jdbc.InternalOAusername}" />
				<property name="password" value="${jdbc.InternalOApassword}" />
			</dataSource>
		</environment>
	</environments>
	<!-- 映射支援文件所在地 -->
	<mappers>
		<mapper resource="mapper/design/LoadBean.xml" />
</mappers>
</configuration>