@charset "utf-8";
/* 代码整理：懒人之家 lanrenzhijia.com */
body {
	background: #000000 url('../images/userBd.jpg') top center no-repeat;
}
.sweetMenuAnchor {
	border-top: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	color: #0071bb;
	font-size: 24px;
	font-weight: bold;
	text-align: right;
	text-transform: uppercase;
	font-family: arial;
	text-decoration: none;
	background-color: #888888;
	opacity: 0.6;
}
.sweetMenuAnchor span {
	display: block;
	padding-top: 10px;
}
h1 {
	display: block;
	text-align: center;
	font-size: 48px;
	color: #ffffff;
	text-shadow: 0px 0px 12px #000000;
	font-family: "Trebuchet MS";
}
/* 代码整理：懒人之家 lanrenzhijia.com */