<html>
<head>
<meta charset="utf-8">
<title>用户界面</title>
</head>
<body>
<div>
《物业管理条例》
　　第一章 总则
　　第一条 为了规范物业管理活动，维护业主和物业管理企业的合法权益，改善人民群众
　　的生活和工作环境，制定本条例。
　　第二条 本条例所称物业管理，是指业主通过选聘物业管理企业，由业主和物业管理企
　　业按照物业服务合同约定，对房屋及配套的设施设备和相关场地进行维修、养护、管理，维
　　护相关区域内的环境卫生和秩序的活动。
　　第三条 国家提倡业主通过公开、公平、公正的市场竞争机制选择物业管理企业。
　　第四条 国家鼓励物业管理采用新技术、新方法，依靠科技进步提高管理和服务水平。
　　第五条 国务院建设行政主管部门负责全国物业管理活动的监督管理工作。
　　县级以上地方人民政府房地产行政主管部门负责本行政区域内物业管理活动的监督管理
　　工作。

　　第二章 业主及业主大会
　　第六条 房屋的所有权人为业主。
　　业主在物业管理活动中，享有下列权利：
　　（一）按照物业服务合同的约定，接受物业管理企业提供的服务；
　　（二）提议召开业主大会会议，并就物业管理的有关事项提出建议；
　　（三）提出制定和修改业主公约、业主大会议事规则的建议；
　　（四）参加业主大会会议，行使投票权；
　　（五）选举业主委员会委员，并享有被选举权；
　　（六）监督业主委员会的工作；
　　（七）监督物业管理企业履行物业服务合同；
　　（八）对物业共用部位、共用设施设备和相关场地使用情况享有知情权和监督权；
　　（九）监督物业共用部位、共用设施设备专项维修资金（以下简称专项维修资金）的管
　　理和使用；
　　（十）法律、法规规定的其他权利。
　　第七条 业主在物业管理活动中，履行下列义务：
　　（一）遵守业主公约、业主大会议事规则；
　　（二）遵守物业管理区域内物业共用部位和共用设施设备的使用、公共秩序和环境卫生
　　的维护等方面的规章制度；
　　（三）执行业主大会的决定和业主大会授权业主委员会作出的决定；
　　（四）按照国家有关规定交纳专项维修资金；
　　（五）按时交纳物业服务费用；
　　（六）法律、法规规定的其他义务。
　　第八条 物业管理区域内全体业主组成业主大会。
　　业主大会应当代表和维护物业管理区域内全体业主在物业管理活动中的合法权益。
　　第九条 一个物业管理区域成立一个业主大会。
　　物业管理区域的划分应当考虑物业的共用设施设备、建筑物规模、社区建设等因素。具
　　体办法由省、自治区、直辖市制定。
　　第十条 同一个物业管理区域内的业主，应当在物业所在地的区、县人民政府房地产行
　　政主管部门的指导下成立业主大会，并选举产生业主委员会。但是，只有一个业主的，或者
　　业主人数较少且经全体业主一致同意，决定不成立业主大会的，由业主共同履行业主大会、
　　业主委员会职责。
　　业主在首次业主大会会议上的投票权，根据业主拥有物业的建筑面积、住宅套数等因素
　　确定。具体办法由省、自治区、直辖市制定。
　

</div>
	
</body>
</html>
